* {
    padding: 0;
    margin: 0;
}

header {
    height: 10vh;
    background-color: burlywood;
    border: 2px solid white;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 9vh;
    padding: 0 20px;
}

nav ul {
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: teal;
    text-decoration: none;
    font-family: cursive;
}

nav ul li a:hover {
    color: darkred;
    font-weight: bold;
}

.search {
    display: inline;
    align-items: center;
}

#searchBarText {
    width: 37vw;
    height: 5vh;
    border: 2px solid teal;
    border-radius: 10px;
    padding: 0 10px;
}

.search-btn{
    position: relative;
    left: -75px;
    font-family: monospace;
    background:radial-gradient(orange,yellow);
}

.search button p{
    font-family: cursive;
}

.container {
    background-color: darkgrey;
    min-height: calc(100vh - 10vh - 10vh);
}

.card{
    max-width: 90vw;
    background-color: beige;
    margin: auto;
}

.card h2{
    padding: 10px 20px;
    text-align: center;
}

.card-item{
    height: auto;
    width: 13vw;
    display: inline-flex;
    flex-direction: column;
    padding: 10px 20px;
}

footer {
    height: 10vh;
    background-color: black;
    color: white;
    font-family: cursive;
}
