.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 4vh;
    width: 4rem;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

.text-center{
    text-align: center;
}